*.log
*.Zip
*.htm
*.CSPcbDocPreview
*.Cam
Project Outputs for mix/mix.apr
Project Outputs for mix/mix.DRR
Project Outputs for mix/mix.EXTREP
Project Outputs for mix/mix.G1
Project Outputs for mix/mix.G2
Project Outputs for mix/mix.GBL
Project Outputs for mix/mix.GBO
Project Outputs for mix/mix.GBS
Project Outputs for mix/mix.GD1
Project Outputs for mix/mix.GKO
Project Outputs for mix/mix.GTL
Project Outputs for mix/mix.GTO
Project Outputs for mix/mix.GTP
Project Outputs for mix/mix.GTS
Project Outputs for mix/mix.LDP
Project Outputs for mix/mix.nsx
Project Outputs for mix/mix.REP
Project Outputs for mix/mix.RUL
PDNAnalyzer_Output/DCNets.xml
PDNAnalyzer_Output/mix/odb.tgz
PDNAnalyzer_Output/mix/odb.tgz.checksum
PDNAnalyzer_Output/mix/ODBTemp/mix.REP
PDNAnalyzer_Output/mix/ODBTemp/mix.tgz
PDNAnalyzer_Output/mix/ODBTemp/mix_netlist.rep
PDNAnalyzer_Output/mix/ODBTemp/odb/fonts/standard
Project Outputs for mix/mix-macro.APR_LIB
